H1 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

P {
    padding-left: 20px;
}

P:first-letter {
    font-size: 200%;
    /* Размер шрифта первого символа
*/
    color: red;
    /* Красный цвет текста */
}