.t1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-self: center;
}

.t2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 86%;
    align-self: center;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.fon {
    max-width: 800px;
    height: auto;
}

form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    /* width: 70%; */
    grid-template-columns: 25% 65%;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 90%;
    border-radius: 8px;
    border: 3px solid rgb(192, 192, 192);

}

input,
select,
textarea {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    /* width: 100%; */
}

textarea {
    resize: vertical;
    min-height: 80px;
}

textarea,
button {
    grid-column: 1 / -1;
    width: 70%;
    justify-self: right;
}

#but {
    padding: 10px;
    background-color: #0f79e9;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    /* width: 60%; */
    justify-self: right;
}

.error {
    color: red;
}

/* button:hover {
    background-color: #0056b3;
} */

/* КАРТОЧКА */

.product-card {

    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px;
    background-color: #fff;
    font-family: sans-serif;
    max-width: 60%;
    box-shadow: 3px 10px 5px rgb(230, 230, 230);
}

.product-image {
    position: relative;
    text-align: center;
    margin-bottom: 8px;
}

.product-image img {
    /* width: 100%; */
    border-radius: 6px;
}

.discount {
    position: absolute;
    top: 90%;
    left: 8px;
    background: rgb(244, 47, 57);
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.product-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 22px;
    margin: 8px 0 4px;
    width: 80%;
}

.rating {
    font-size: 20px;
    color: gold;
}

.rating .reviews {
    color: #666;
    margin-left: 4px;
}

.country {
    font-size: 16px;
    color: #999;
}

.price-block {
    margin: 8px 0;
}

.price-new {
    font-weight: bold;
    color: rgb(244, 47, 57);
    font-size: 24px;
    margin-right: 8px;
}

.price-old {
    color: #aaa;
    text-decoration: line-through;
    font-size: 20px;
}

.delivery {
    font-size: 16px;
    color: #666;
}

.actions {
    display: flex;
    /* justify-content: space-between; */
}

.actions button {
    padding: 6px 10px;
    border: none;
    /* border-radius: 4px; */
    font-size: 14px;
}

.add-to-cart {
    width: 310px;
    background-color: rgb(244, 47, 57);
    color: #fff;
    border-radius: 10px;
}

.wishlist {
    background-color: #ffffff;
}